{% if index %}
	<div class="meta">
		<div class="date">{% include post/date.html %}{{ time }}</div>
		<div class="tags">{% include post/categories.html %}</div>
		{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
			<span class="comments"><a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a></span>
		{% endif %}
	</div>
	<h1 class="title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" itemprop="url">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
	<div class="entry-content" itemprop="articleBody">
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
	</div>
{% else %}
	<h1 class="title" itemprop="name">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
	<div class="entry-content" itemprop="articleBody">{{ content }}</div>
{% endif %}



<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
    var jiathis_config={
            data_track_clickback:true,
                siteNum:10,
                    sm:"tsina,qzone,tqq,weixin,renren,kaixin001,douban,t163,cqq,fanfou",
                        summary:"",
                            boldNum:2,
                                ralateuid:{
                                            "tsina":"fallow5"
                                                },
                                                    showClose:true,
                                                        shortUrl:false,
                                                            hideMore:false
                                                        }
                                                    </script>
                                                    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1834707&btn=r2.gif&move=0" charset="utf-8"></script>
                                                    <!-- JiaThis Button END -->


